html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: ResistSansText-Light, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  src: url('../webFonts/ResistSansText-Light/font.woff2') format('woff2'), url('../webFonts/ResistSansText-Light/font.woff') format('woff');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
