@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ResistSansText-Light';
  src: url('../webFonts/ResistSansText-Light/font.woff2') format('woff2'), url('../webFonts/ResistSansText-Light/font.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: ResistSansText-Light, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100vw;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, a, p, li, small, span, button {
  overflow-y: hidden;
}

.bg-gradient {
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.image-container {
  height: 14rem;
  max-height: 14rem;
  width: 14rem;
  max-width: 14rem;

  img {
    @apply object-cover;
    height: 14rem;
    max-height: 14rem;
    width: 14rem;
    max-width: 14rem;
  }
}

.soft-light {
  mix-blend-mode: soft-light;
}
